.home {
  padding: 80px 10%;
  background-color: #eef5f9;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

/* Left Text */
.home-text h1 {
  font-size: 48px;
  font-weight: 600;
}

.home-text h1 span {
  color: #e85b9c;
}

.home-text p {
  font-size: 18px;
  margin: 15px 0 30px;
  color: #333;
}

/* Buttons */
.home-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid #000;
}

.btn.primary {
  background-color: #000;
  color: #fff;
}

.btn.outline {
  background-color: transparent;
  color: #000;
}

/* Right Image */
.home-image img {
  max-width: 100%;
  height: auto;
}

.home-section {
 background: #e9f2f7;   
  width: 100%;
  min-height: 100vh;
}

.home-title {
  color: #d84a83;
  font-size: 3rem;
  font-weight: 600;
}

.home-subtitle {
  color: #000;
  font-size: 1.1rem;
}

.home-image {
  max-width: 90%;
}
